body, html{
    margin:0;
    overflow: hidden;
}
body {
    background-image: url('../img/bg.png');

}

main{
    grid-column: 1/-1;
    grid-row: 1/-1;
    background-attachment: cover;
}

#singUp .custom-file-label {
    width: 50% !important;
}

*{
    box-sizing: border-box;
}
main{
    font-family: 'Teko', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
}
h1{
    font-weight: bold;
    letter-spacing: 0.8px;
    margin: 0;
}
p{
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}
span{
    font-size: 16px;
    letter-spacing: 0.8px;
}
a{
    color: #333;
    font-size: 16px;
    letter-spacing: 0.5px;
    text-decoration: none;
    margin: 15px 0;
}
.container{
    visibility: hidden;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
}
.form-container form{
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.social-container{
    margin: 20px 0;
}
.social-container a{
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}
.form-container input, #input-img{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

#input-img {
    position: relative;
    color: gray;
    border: 2px dashed gray;
}
input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

}
::placeholder {
    color: gray;
}
button{
    border-radius: 20px;
    border: 1px solid #f3f3f3;
    background: #23bebe;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}
button:active{
    transform: scale(0.95);
}
button:focus{
    outline: none;
}
button.ghost{
    background: transparent;
    border-color: #fff;
}
.si{
    background-color: var(--red);
}
.su{
    background-color: var(--blue);
    margin-top: 10px;
}
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in-container{
    left: 0;
    width: 50%;
    z-index: 2;
}
.sign-up-container{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;  
}
.overlay-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}
.overlay{
    background: var(--red);
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0) ;
    transition: transform 0.6s ease-in-out;
}

.overlay::before {
    content: '';
    background: var(--blue);
    height: 100%;
    width: 50%;
    position: absolute;

}
.overlay-panel{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
     align-items: center; 
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}
 .overlay-left{ 
    transform: translateX(-20%);
}

/* Animation */

/* Move signin to the right */
.container.right-panel-active .sign-in-container{
    transform: translateX(100%);
}
/* Move overlay */
.container.right-panel-active .overlay-container{
    transform: translateX(-100%);
}
/* Sign up over Sign In */
.container.right-panel-active .sign-up-container{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}
/* Overlay Back to right */
.container.right-panel-active .overlay{
    transform: translateX(50%);
}
.container.right-panel-active .overlay-left{
    transform: translateX(0);
}
.container.right-panel-active .overlay-right{
    transform: translateX(20%);
}


a> #four{
    height: 60%;
    width: 40%;
    
}

.modal-content{
    border:none !important;
    background: transparent !important;
}

/*
all about the menu
*/
.center.menu {
  transform: translate(-42vw, -35vh);
}


.center {
  position: absolute;
  z-index:15;
  margin: auto; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.menu {
  width: 60px;
  height: 60px;
}

.title {
  width: 300px;
  height: 10px;
  top: 60px;
}

.item {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 60px;
  height: 60px;
  background-color: #4d4d4d;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
  line-height: 60px;
  box-shadow: 2px 1px 1px gray;
  left: -23px; top: -33px;
}

i {
  font-size: 30px;
  color: #222222;
  margin-top:25%;
  color:white;
  
}
.menuCircle{
  color:white;
}